<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAE Management</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="navbar navbar-black">
        <li><a routerLink="/Accueil">SAE Management</a></li>
        <li><a class="center" routerLink="/Accueil">Dashboard</a></li>
        <li><a href="#">Se Déconnecter</a></li>
    </div>
    
    <nav class="navbar navbar-gray">
        <ul>
            <li><a routerLink="/Accueil">Accueil</a></li>
            <li><a href="#">SAÉs</a></li>
            <li><a href="#">Rendus</a></li>
            <li><a href="#">Panel Admin</a></li>
        </ul>
    </nav>
</body>
</html>