<div class="container mt-5 h-100">
    <h1 class="fw-bold">ACCUEIL</h1>
    <div class="card-general shadow bg-white rounded w-100 m-auto">
        <div class="d-flex flex-column w-100">
            <div class="d-flex w-100 m-auto mt-5">
                <div class="card shadow px-3 mx-5 rounded w-25 card-sae-content">
                    <a href="#" class="text-decoration-none text-reset">
                        <div class="card card-sae shadow w-100" style="min-height: 150px;">
                        </div>
                        <div class="m-4">
                            <h4>SAÉs</h4>
                            <p>Retrouvez ici la liste de toutes les SAÉs auxquelles vous avez été associé.</p>
                        </div>
                    </a>
                </div>
                <div class="card shadow px-3 mx-5 rounded-bottom w-25 card-rendus-content">
                    <a href="#" class="text-decoration-none text-reset">
                        <div class="card card-rendus shadow w-100" style="min-height: 150px;">
                        </div>
                        <div class="m-4">
                            <h4>Rendus</h4>
                            <p>Retrouvez ici la liste de tous les rendus (ceux à rendre et ceux déjà rendus)</p>
                        </div>
                    </a>
                </div>
                <div class="card shadow px-3 mx-5 rounded-bottom w-25 card-rendus-content">
                    <a routerLink="/CreerSAE" class="text-decoration-none text-reset">
                        <div class="card card-create-sae shadow w-100" style="min-height: 150px;">
                        </div>
                        <div class="m-4">
                            <h4>Créer une SAÉ</h4>
                            <p>Créer un nouveau sujet de SAE.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="d-flex w-100 m-auto mt-5 mb-5">   
                <div class="card shadow px-3 mx-5 rounded-bottom w-25 card-rendus-content">
                    <a href="#" class="text-decoration-none text-reset">
                        <div class="card card-ressource shadow w-100" style="min-height: 150px;"></div>
                        <div class="m-4">
                            <h4>Ressources</h4>
                            <p>Accéder à vos Ressources</p>
                        </div>
                    </a>
                </div>
                <div class="card shadow px-3 mx-5 rounded-bottom w-25 card-rendus-content">
                    <a href="#" class="text-decoration-none text-reset">
                        <div class="card card-soutenance shadow w-100" style="min-height: 150px;"></div>
                
                        <div class="m-4">
                            <h4>Soutenances</h4>
                            <p>Retrouvez ici la liste de toutes les soutenances.</p>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>