<div class="container mt-5 h-100">
    <h1 class="fw-bold text-left">CRÉER UNE SAE</h1>
    <div class="card-general shadow bg-white rounded p-4">
        <div class="d-flex align-items-center mb-4">
            <div class="me-3">
                <svg width="35" height="35"><use xlink:href="#arrow-icon"></use></svg>
            </div>
            <h3 class="fw-bold">Champs à remplir :</h3>
        </div>
        <form action="?module=creerSae&action=submit" method="POST">
            <div class="mb-3">
                <label for="nomSae" class="form-label fw-bold">Nom de la SAE</label>
                <input type="text" class="form-control" id="nomSae" name="nomSae" placeholder="Entrez le nom de la SAE" required>
            </div>
            <div class="mb-3">
                <label for="semestre" class="form-label fw-bold">Semestre</label>
                <select class="form-control" name="semestre" id="semestre" required>
                    <option disabled selected value="">Choisissez un semestre</option>
                    <option value="1">Semestre 1</option>
                    <option value="2">Semestre 2</option>
                    <option value="3">Semestre 3</option>
                    <option value="4">Semestre 4</option>
                    <option value="5">Semestre 5</option>
                    <option value="6">Semestre 6</option>
                </select>                        
            </div>
            <div class="mb-3">
                <label for="sujet" class="form-label fw-bold">Sujet</label>
                <input type="text" class="form-control" id="sujet" name="sujet" placeholder="Entrez le sujet" required>
            </div>

            <!-- Co-responsables -->
            <div class="mb-3">
                <label class="form-label fw-bold">Co-responsables</label>
                <input type="text" class="form-control mb-2" id="searchCoResponsables" placeholder="Rechercher un co-responsable par nom ou prénom">
                <div class="border p-2 choix-responsable" style="max-height: 150px; overflow-y: auto;" id="coResponsablesList">
                    <div *ngIf="professeurs.length > 0; else noData">
                        <div class="form-check prof-item" *ngFor="let professeur of professeurs">
                          <input class="form-check-input" type="checkbox" [value]="professeur.nom" name="prof[]">
                          <label class="form-check-label" [for]="'prof'">
                            {{ professeur.nom }} {{ professeur.prenom }}
                          </label>
                        </div>
                      </div>
                      
                      <ng-template #noData>
                        <p>Aucun professeur trouvé.</p>
                      </ng-template>


                </div>
                <small class="text-muted">Cochez les co-responsables nécessaires. Laissez vide si aucun.</small>
            </div>


            <!-- Intervenants -->
            <div class="mb-3">
                <label class="form-label fw-bold">Intervenants</label>
                <input type="text" class="form-control mb-2" id="searchIntervenants" placeholder="Rechercher un intervenant par nom ou prénom">
                <div class="border p-2" style="max-height: 150px; overflow-y: auto;" id="intervenantsList">


                    <div *ngIf="professeurs.length > 0; else noData">
                        <div class="form-check prof-item" *ngFor="let professeur of professeurs">
                          <input class="form-check-input" type="checkbox" [value]="professeur.nom" name="prof[]">
                          <label class="form-check-label" [for]="'prof'">
                            {{ professeur.nom }} {{ professeur.prenom }}
                          </label>
                        </div>
                      </div>
                      
                      <ng-template #noData>
                        <p>Aucun professeur trouvé.</p>
                      </ng-template>

                </div>
                <small class="text-muted">Cochez les intervenants nécessaires. Laissez vide si aucun.</small>
            </div>


            <!-- Ajouter des élèves -->
            <div class="mb-3">
                <label class="form-label fw-bold">Ajouter des élèves</label>
                <input type="text" class="form-control mb-2" id="searchEleves" placeholder="Rechercher un élève par nom ou prénom">
                <div class="border p-2" style="max-height: 150px; overflow-y: auto;" id="elevesList">

                    <div *ngIf="etudiants.length > 0; else noData">
                        <div class="form-check eleve-item" *ngFor="let etudiant of etudiants">
                          <input class="form-check-input" type="checkbox" [value]="etudiant.nom" name="eleves[]">
                          <label class="form-check-label" [for]="'eleve'">
                            {{ etudiant.nom }} {{ etudiant.prenom }}
                          </label>
                        </div>
                      </div>

                      <ng-template #noData>
                        <p>Aucun étudiant trouvé.</p>
                      </ng-template>

                </div>
                <small class="text-muted">Cochez les élèves nécessaires. Laissez vide si aucun.</small>
            </div>

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Créer SAE</button>
            </div>
        </form>
    </div>
</div>